<div class="chat-item" data-id="{{id}}">
  <div class="chat-item__block {{#if unreadCount}}chat-item__block--unread{{/if}}">
    <div class="chat-item__avatar">
      <img src="{{avatarUrl}}" alt="avatar" />
    </div>
    <div class="chat-item__name">
      {{title}}
      {{#with lastMessage}}
        <time class="chat-item__date">
          {{time}}
        </time>
      {{/with}}
    </div>
    {{#with lastMessage}}
      <div class="chat-item__message">
        {{{text}}}
      </div>
    {{/with}}
    <div class="chat-item__members">
      
      {{#each members}}
      {{#if (lt @index 3)}}
        <div class="chat-item__members-avatar">
          <img src="{{avatarUrl}}" alt="avatar" />
        </div> 
        {{/if}}
        {{/each}}
      
      {{#if (gt members.length 3)}}
  <div class="chat-item__members-rest-count">+{{subtract members.length 3}}</div>
{{/if}}
    </div>
    {{#if unreadCount}}
      <span class="chat-item__badge">{{unreadCount}}</span>
    {{/if}}
  </div>
</div>